.no-webp{
	.neon-bg-1{
		background-image: url('/img/bg/neon_1.jpg');
	}
	.pt-bg{
		background-image: url('/img/home/pt-bg.jpg');
	}
	.cg-bg{
		background-image: url('/img/home/cg-bg.jpg');
	}
	.rp-bg{
		background-image: url('/img/home/rp-bg.jpg');
	}
	.rl-bg{
		background-image: url('/img/home/rl-bg.jpg');
	}
	.blog-bg{
		background-image: url('/img/home/astro3.jpg');
	}
	.bg-half{
		background-image: url('/img/home/astro2.jpg');
	}
	.bg-half-2{
		background-image: url('/img/home/astro4.jpg');
	}
	.wall-bg{
		background-image: url('/img/bg/wall.jpg');
	}
	.bg-third{
		&:after{
			background-image: url('/img/home/angel.jpg');
		}
	}
	.bg-third-2{
		&:after{
			background-image: url('/img/home/cathedral.jpg');
		}
	}
	.bg-third{
		&:after{
			background-image: url('/img/home/angel.jpg');
		}
		&.social{
			&:after{
				background-image: url('/img/bg/social.jpg');
			}
		}
		&.seo{
			&:after{
				background-image: url('/img/bg/seo.jpg');
			}
		}
	}
}
.webp{
	.neon-bg-1{
		background-image: url('/img/bg/neon_1.webp');
	}
	.pt-bg{
		background-image: url('/img/home/pt-bg.webp');
	}
	.cg-bg{
		background-image: url('/img/home/cg-bg.webp');
	}
	.rp-bg{
		background-image: url('/img/home/rp-bg.webp');
	}
	.rl-bg{
		background-image: url('/img/home/rl-bg.webp');
	}
	.blog-bg{
		background-image: url('/img/home/astro3.webp');
	}
	.bg-half{
		background-image: url('/img/home/astro2.webp');
	}
	.bg-half-2{
		background-image: url('/img/home/astro4.webp');
	}
	.wall-bg{
		background-image: url('/img/bg/wall.webp');
	}
	.bg-third{
		&:after{
			background-image: url('/img/home/angel.webp');
		}
		&.social{
			&:after{
				background-image: url('/img/bg/social.webp');
			}
		}
		&.seo{
			&:after{
				background-image: url('/img/bg/seo.webp');
			}
		}
	}
	.bg-third-2{
		&:after{
			background-image: url('/img/home/cathedral.webp');
		}
	}
}
.bg{
	@include background();
}
.bg-half,
.bg-half-2{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
  background-position: bottom right;
  background-attachment: fixed;
  background-size: 50%;
	background-repeat: no-repeat;
	&.page-top{
    bottom: 0;
    background-position: 100% 30%;
	}
}
.bg-third,
.bg-third-2{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 41%;
		height: 100%;
		background-position: top center;
	  background-size: cover;
		background-repeat: no-repeat;
	}
}
.blog-bg{
	background-size: 70%;
  background-position: 70% 20%;
  background-repeat: no-repeat;
}
.bg-grey{
	filter: grayscale(100%);
	cursor: pointer;
	@include background();
	@include transition(300ms);
	&:hover{
		filter: grayscale(10%);
	}
}
.bg-trans{
	background-color: rgba(0,0,0,0.6);
}
.bg-dark{
	background-color: $navy !important;
}
.bg-fixed{
	background-attachment: fixed;
}
.slant{
	overflow: hidden;
	clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}