.btn{
	display: block;
	border-radius: 30px;
	font-family: $title;
	border:0;
	display: inline-block;
	@include transition(300ms);
}

.btn-primary{
	color: $white;
	width: 100%;
	height: 50px;
	font-size: 0.9rem;
	font-weight: 600;
	text-transform: uppercase;
	padding: 13px 15px;
	max-width: 200px;
	&.btn-big{
		max-width: 260px;
		height: 62px;
		font-size: 1rem;
		padding: 1.2rem;
	}
	&:hover{
		background-color: $primarydark;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
}
.btn-green{
	color: $white;
	width: 100%;
	height: 50px;
	font-size: 0.9rem;
	font-weight: 600;
	text-transform: uppercase;
	padding: 13px 15px;
	max-width: 200px;
	background-color: $green;
	&.btn-big{
		max-width: 260px;
		height: 62px;
		font-size: 1rem;
		padding: 1.2rem;
	}
	&:hover{
		background-color: $darkgreen;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
}
.btn-dark{
	color: $white;
	background-color: $primarylight;
	width: 100%;
	height: 50px;
	font-size: 0.9rem;
	font-weight: 600;
	text-transform: uppercase;
	padding: 13px 15px;
	max-width: 200px;
	&.btn-big{
		max-width: 260px;
		height: 62px;
		font-size: 21px;
		padding: 15px;
	}
	&:hover{
		background-color: $primarydark;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
}
.btn-white{
	color: $primarydark;
	background-color: $white;
	width: 100%;
	height: 50px;
	font-size: 0.9rem;
	font-weight: 600;
	text-transform: uppercase;
	padding: 13px 15px;
	max-width: 200px;
	&.btn-big{
		max-width: 260px;
		height: 62px;
		font-size: 21px;
		padding: 15px;
	}
	&:hover{
		background-color: $darkgrey;
		color: $white;
		text-decoration: none !important;
	}
	&:disabled{
		color: $primary;
	}
	&.no_max{
		max-width: 1000px;
	}
}
.social-btn{
	width: 40px;
	height: 40px;
	padding: 4px;
	font-size: 20px;
	border-radius: 5px;
	border:0;
	text-align: center;
	display: inline-block;
	color: $white;
	cursor: pointer;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	@include transition(300ms);
	i{
		cursor: pointer;
	}
	&.social-btn-fb{
		background-color: $facebook;
	}
	&.social-btn-tw{
		background-color: $twitter;
	}
	&.social-btn-ln{
		background-color: $linkedin;
	}
	&.social-btn-wa{
		background-color: $whatsapp;
	}
	&:hover{
		color: $white;
		transform: scale(0.95);
		-webkit-transform: scale(0.95);
		-moz-transform: scale(0.95);
	}
}