#app{
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
}
header.home-header{
	position: relative;
	overflow: hidden;
	height: 100vh;
	video {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  z-index: 0;
	  -ms-transform: translateX(-50%) translateY(-50%);
	  -moz-transform: translateX(-50%) translateY(-50%);
	  -webkit-transform: translateX(-50%) translateY(-50%);
	  transform: translateX(-50%) translateY(-50%);
	}
	.container {
	  position: relative;
	  z-index: 2;
	}
	.overlay {
  	position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	  background-color: black;
	  opacity: 0.4;
	  z-index: 1;
	}
}

.blog-post{
	.post-image{
		max-height: 320px;
		overflow: hidden;
		img{
			@include transition(300ms);
		}
	}
	&:hover{
		.post-image{
			img{
				transform: scale(1.1);
			}
		}
	}
}
.lp-text{
	font-size: 1.4rem;
}
.lp_body{
	p{
		strong{
			font-size: 4rem;
			line-height: 1;
			font-weight: 500;
			font-family: $title;
		}
	}
	strong{
		font-size: 4rem;
		line-height: 1;
		font-weight: 500;
		font-family: $title;
		padding-bottom: 1rem;
  	display: inline-block;
	}
}
.home-client{
	position: relative;
	overflow: hidden;
	height: 525px;
	.home-client-info{
		background-color: rgba(0,0,0,0.7);
		position: absolute;
		width: 100%;
		height: 100%;
		right: 0;
		top: 0;
		@include transition(300ms);
	}
}
.home-client-phone{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	.home-phone{
		position: absolute;
    top: -58px;
    right: 0;
    width: 352px;
    max-width: calc(130% - 30px);
	}
}


// Older
#app{
	min-height: 100vh;
	&.admin{
		padding-top: 95px;
	}
}

.primary-line{
	border-top: 1px solid $primary;
}
.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
	top: calc(87px + 1rem);
}

.shadow{
	@include boxShadow();
}
.z-1{
	z-index: 1;
}
.z-2{
	z-index: 2;
}
.z-3{
	z-index: 3;
}
.list-style-none{
	list-style: none;
}
.testimonial-spacing{
	margin-bottom: 300px;
}
#testimonial-carousel{
	.owl-nav{
		margin-top: 1rem;
	}
}
.testimonial-img{
	position: absolute;
  right: -40px;
  top: 40px;
  display: block;
  width: 450px;
  opacity: 1;
  @include transition(300ms);
  &.off{
		opacity: 0;
  }
}
.testimonial-img-2{
	position: absolute;
  left: -140px;
  top: -300px;
  display: block;
  width: 450px;
  opacity: 1;
  @include transition(300ms);
  &.off{
		opacity: 0;
  }
}
.card{
	&.border-primary{
		border: 1px solid $primary;
	}
	&.card-on{
		background-color: $primary;
		color: $white;
	}
	&.stream-card{
		height: 179px;
		.d-table{
			height: 179px;
			.d-table-cell{
				height: 179px;
			}
		}
	}
}
.line{
	position:relative;
	display: block;
	height: 1px;
	span{
		width: 65px;
		height: 4px;
		display: block;
		background-color: $primary;
	}
	&.line-white{
		span{
			background-color: $white;
		}
	}
	&.line-dark{
		span{
			background-color: $darkgrey;
		}
	}
	&.line-primary-light{
		span{
			background-color: $primarylight;
		}
	}
	&.line-center{
		span{
			margin: auto;
		}
	}
	&.line-right{
		span{
			float: right;
		}
	}
}
.full-height{
	height: 100vh;
}
.modal{
	background-color: $transgreydark;
	color: $white;
	text-align: center;
	z-index: 1500;
	.modal-content{
		background-color: transparent;
		border: 0;
	}
	&.danger{
		background-color: $transred;
	}
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.trans{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $transblue;
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@include transition(300ms);
	&:hover{
		transform: rotate(90deg);
	}
}
#orientation_change {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  background-color: $darkgrey;
  text-align: center;
  display: none; }
  #orientation_change p {
    color: $white;
    font-family: $title;
    width: 500px;
    position: absolute;
    left: calc(50% - 250px);
    top: 200px;
    font-size: 20px;
    line-height: 30px; }
  #orientation_change img {
    position: absolute;
    top: 50px;
    width: 150px;
    left: calc(50% - 75px); }
.bg-img-right{
	position: absolute;
	bottom: -70px;
	right: -10%;
	width: 240%;
}.bg-img-right-2{
	position: absolute;
	bottom: -70px;
	right: -20%;
	width: 200%;
}
.bg-img-right-3{
	position: absolute;
	bottom: -130px;
	right: -20%;
	width: 200%;
}
.blog-body{
		font-size: 1.4rem;
		p{
			color: $white !important
		}
		h3{
			font-size: 2.5rem;
			margin-bottom: 2rem;
		}
		img{
			max-width: 100%;
	    display: block;
	    height: auto;
		}
		strong{
			font-family: $title;
			font-size: 2.5rem;
			line-height: 1.1;
			font-weight: 500;
			margin-bottom: 1rem;
			display: inline-block;
		}
	}
	.zoom-link{
		cursor: pointer;
		.blog-img{
			width: 100%;
			height: 360px;
			max-height: 360px;
			overflow: hidden;
			position: relative;
			img{
				position: absolute;
		    top:-100%; left:0; right: 0; bottom:-100%;
		    margin: auto;
		    @include transition(300ms);
			}
		}
		&:hover{
			.blog-img{
				img{
					transform: scale(1.1);
				}
			}
		}
	}
	
	.blue-dots-top-right{
    background-image: url('/img/shapes/dots_blue.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -60px;
    right: -200px;
    width: 250px;
    height: 418px;
    transform: rotate(-110deg) !important;
    -webkit-transform: rotate(-110deg) !important;
  }
  .pink-pentagon-top-right{
    background-image: url('/img/shapes/pentagon_pink.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -100px;
    right: calc(-150px + 1rem);
    width: 300px;
    height: 300px;
    -webkit-animation: rotating 100s linear infinite;
    -moz-animation: rotating 100s linear infinite;
    -ms-animation: rotating 100s linear infinite;
    -o-animation: rotating 100s linear infinite;
    animation: rotating 100s linear infinite;
   }
   @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .attachment__caption{
  	display: none !important;
  }
	 .pointer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $pink;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(255,50,162);
    animation: pulse 2s infinite;
  }
  .pointer span {
    color: #fff;
    text-align: center;
    display: block;
    width: 31px;
    padding: 5px 0px;
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,50,162, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255,50,162, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,50,162, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255,50,162, 0.4);
      box-shadow: 0 0 0 0 rgba(255,50,162, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255,50,162, 0);
        box-shadow: 0 0 0 10px rgba(255,50,162, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255,50,162, 0);
        box-shadow: 0 0 0 0 rgba(255,50,162, 0);
    }
  }
.project-body{
	font-size: 1.4rem;
}
.overflow-x-hidden{
	overflow-x: hidden;
}
#map{
	height: 500px;
}
.round-image{
	overflow: hidden;
	border-radius: 100%;
	margin-bottom: -30px;
}
.astro{
	animation: MoveUpDown 8s ease-in-out infinite;
  position: absolute;
  right: 10%;
  width: 40%;
  bottom: 20%;
  
  @include transition(300ms);
}
@keyframes MoveUpDown {
	0%, 100% {
	  bottom: 20%;
	  transform: rotate(-10deg);
	}
	50% {
	  bottom: 30%;
	  transform: rotate(-20deg);
	}
}
.zoom-link{
	cursor: pointer;
	.blog-img{
		width: 100%;
		height: 360px;
		max-height: 360px;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
	    top:-100%; left:0; right: 0; bottom:-100%;
	    margin: auto;
	    @include transition(300ms);
		}
	}
	&:hover{
		.blog-img{
			img{
				transform: scale(1.1);
			}
		}
	}
}
.blue-dots-top-right{
	background-image: url('/img/shapes/blue-dots.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: -70px;
  right: -196px;
  width: 250px;
  height: 418px;
}
.pink-circle-top-right{
	background-image: url('/img/shapes/pink-circle.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
  top: 100px;
  right: calc(-125px + 1rem);
  width: 250px;
  height: 250px;
}
.pink-dots-bottom-left{
	background-image: url('/img/shapes/pink-dots.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
  bottom: calc(50% - 100px);
  left: -75px;
  width: 400px;
  height: 310px;
  z-index: 0;
}
.blue-circle-bottom-left{
	background-image: url('/img/shapes/blue-circle.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
  bottom: calc(50% - 150px);
  left: -150px;
  width: 300px;
  height: 300px;
  z-index: -1;
}
.title-over-image{
	position: relative;
	img{
		position: relative;
		z-index: 1;
	}
	h4{
		position: absolute;
		z-index: 2;
		top: calc(50% - 15px);
		width: 100%;
		text-align: center;
		letter-spacing: 2px;
	}
}
.services-page{
	.pink-dots-bottom-left{
		background-image: url('/img/shapes/smalldots_pink.svg');
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		bottom: calc(50% - 240px);
	  left: -35px;
	  width: 170px;
	  height: 480px;	
	  z-index: -1;
	  transform: rotate(45deg) !important;
	  -webkit-transform: rotate(45deg) !important;
	}
	.blue-circle-bottom-left{
		background-image: url('/img/shapes/circle_cyan.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		position: absolute;
	  bottom: calc(50% - 190px);
	  left: -130px;
	  width: 300px;
	  height: 300px;
	  z-index: 0;
	}
}
.contact-page{
	.pink-dots-bottom-left{
		background-image: url('/img/shapes/smalldots_pink.svg');
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		bottom: calc(50% - 240px);
	  left: -35px;
	  width: 170px;
	  height: 480px;	
	  z-index: -1;
	  transform: rotate(45deg) !important;
	  -webkit-transform: rotate(45deg) !important;
	}
	.blue-circle-bottom-left{
		background-image: url('/img/shapes/circle_cyan.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		position: absolute;
	  bottom: calc(50% - 190px);
	  left: -130px;
	  width: 300px;
	  height: 300px;
	  z-index: 0;
	}
}