// Footer ---------------
footer{
	background-color: #090919;
	color: $white;
	border-top: 6px solid $pink;
	a{
		cursor: pointer;
		color: $lightgrey;
		&:hover{
			color: $primary;
		}
	}
	p{
		font-size: 1.2rem;
		letter-spacing: 1px;
		color: $lightgrey;
	}
	img{
		max-width: 100%;
	}
	.footer-social{
		font-size: 25px;
	}
	.menu_logo{
		width:160px;
	}
	.copyright{
		color: $white;
		a{
			cursor: pointer;
			color: $white;
			&:hover{
				color: $primary;
			}
		}
	}
}