.form-group{
	&.select-form-group{
		
	}
}
.stages{
	position: relative;
	margin: auto;
	.stages-line{
		position: absolute;
		top: 9px;
		left: 0;
		border-bottom: 2px solid $primary;
		@include transition(300ms);
	}
	.stages-steps{
		.stages-step{
			position: relative;
			border: 2px solid $primary;
			border-radius: 100%;
			width: 20px;
			height: 20px;
			display: inline-block;
			margin: 0 15px;
			overflow: hidden;
			@include transition(300ms);
			.stages-step-fill{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $primary;
			}
			&:first-of-type{
				margin-left: 0 !important;
			}
			&:last-of-type{
				margin-right: 0;
			}
		}
	}
}
#enquire_modal{
	.form-group{
		input,select,textarea{
			border-radius: 0;
			border: 0 !important;
			padding-left: 0;
			background-color: transparent;
			color: $white;
		}
		&::after{
			content: "";
			display: block;
			width: 100%;
			border-bottom: 1px solid $white;
		}
	}
}
.form-check-label{
	font-family: $body;
	font-weight: 300;
	font-size: 12px;
}
label{
	font-family: $title;
	font-size: 1.3rem;
	letter-spacing: 4px;
}
input.form-control,
select.form-control{
	border: 1px solid $navyhighlight;
	height: 60px;
	border-radius: 5px;
	color: $white !important;
	box-shadow: none !important;
	outline: none !important;
	font-family: $body;
	background-color: $navyhighlight;
	@include transition(300ms);
	&:focus{
		border: 1px solid $pink;
		background-color: $navyhighlight !important;
		box-shadow: none !important;
		outline: none !important;
	}
	&.smaller{
		border-radius: 0;
    	height: 38px;
	}
}
textarea.form-control{
	border: 1px solid $navyhighlight;
	background-color: $navyhighlight;
	font-family: $body;
	color: $white !important;
	height: 100px;
	border-radius: 5px;
	box-shadow: none !important;
	outline: none !important;
	@include transition(300ms);
	&:focus{
		border: 1px solid $pink;
		background-color: $navyhighlight !important;
		box-shadow: none !important;
		outline: none !important;
	}
}
.filter-selector{
	cursor: pointer;
}
.pagination{
	display: table;
	margin: auto;
	.page-item{
		display: table-cell;
	}
}