@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Noto+Sans&family=Teko:wght@500&display=swap');

// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Noto Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #00ADEF;
$indigo: #6574cd;
$purple: #4d05cc;
$pink: #ff32a2;
$red: #e03a3a;
$orange: #FF7141;
$yellow: #ffed4a;
$green: #6ab651;
$darkgreen: #42872c;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$formgrey: #757575;

// Colours -----------------
$primary: #00daff; 
$primarylight: #2a5673;
$primarydark: #1f455c;
$second: #187EF4;
$white: #fff;
$black: #000;
$navy: #080a19;
$navyhighlight:#232248;
$lightnavy: #465966;
$darknavy: #0A162B;
$darkgrey: #090919;
$midgrey: #4D4D4D;
$lightbg: #CED4D8;
$lightgrey: #999;
$grey: #B4B4B4;
$bluegrey: #A8B1B7;
$highlight: #FF6A6A;
$mastercard: #FF4D2D;
$visa: #283891;

$facebook: #405a97;
$twitter: #4ba0f0;
$linkedin: #3075b0;
$whatsapp: #6fbe55;

$transgreylight: rgba(0,0,0,0.5);
$transgrey: rgba(0,0,0,0.9);
$transgreydark: rgba(0,0,0,0.85);
$transwhite: rgba(255,255,255,0.4);
$transblue: rgba(38,60,75,0.6);
$transbluelight: rgba(26,126,244,0.2);
$transbluedark: rgba(38,60,75,0.9);
$transred: rgba(224,38,28,0.8);
$transdark: rgba(19,22,41,0.3);

// Fonts --------------------
$title: 'Teko', sans-serif;
$body: 'Noto Sans', sans-serif;
$fancy: 'Caveat', cursive;