<template>
  <div>
  	<a class="btn-slice d-inline-block" :href="link" :target="linktype" :style="cssVars" @click="$emit('clicked');" v-if="link">
  	  <div class="top"><span>{{text}}</span></div>
  		<div class="bottom"><span>{{text}}</span></div>
  	</a>
    <div class="btn-slice d-inline-block" :style="cssVars" @click="$emit('clicked');" v-else>
      <div class="top"><span>{{text}}</span></div>
      <div class="bottom"><span>{{text}}</span></div>
    </div>
  </div>
</template>
<script>
	export default {
		props: {
			color: String,
			link: String,
      linktype: String,
			text: String,
		},
		computed: {
	    cssVars() {
	      return {
	        '--color': this.color
	      }
	    }
	  },methods:{
      backToTop(){
        setTimeout(function(){
          document.body.scrollTop = document.documentElement.scrollTop = 0;
        },250);
      },
    }
	}
</script>
<style lang="scss" scoped>
/*--Button Styles--*/
.btn-slice {
	padding: 1.2rem 2.5rem;
  border: 2px solid $white;
	border-radius: 0rem;
	color: $white !important;
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 300ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition: all 300ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition: all 300ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition: all 300ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}

.btn-slice .top  {
	position: relative;
	height: 6px;
	overflow: hidden;
  top: 0;
  line-height: 0.9rem;
  -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
  
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s;
}

.btn-slice .bottom  {
	position: relative;
	height: 9px;
	line-height: 0.9rem;
	overflow: hidden;
  bottom: 0;
  -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
  
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s;
}

.btn-slice .bottom span {
  top: -6px;
  position: absolute;
  left: 0;
}

.btn-slice:hover .top {
	top: -5px;
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s; 
}

.btn-slice:hover .bottom {
	bottom: -5px;
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s; 
}
.btn-slice:before{
	content: '';
	height: 1px;
	width: 60px;
	background-color: $white;
	position: absolute;
	margin-top: 6px;
	right: -35px;
  
  -webkit-transition: all 500ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition: all 500ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition: all 500ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition: all 500ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}
.btn-slice:hover:before{
	width: 130%;
}
@media only screen and (max-width : 767px){
  .btn-slice{
    margin-left: -5.5vw;
    transform: scale(0.8) !important;
  }
}
</style>