<template>
	<form id="contact-page-form" @submit.prevent="submit" class="row half_row">
		<div class="form-group col-lg-6 half_col">
			<input id="name" type="text" class="form-control" name="name" placeholder="Name*" v-model="fields.name" />
			<div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
		</div>
		<div class="form-group col-lg-6 half_col">
			<input id="company" type="text" class="form-control" name="company" placeholder="Company" v-model="fields.company" />
			<div v-if="errors && errors.company" class="text-primary">{{ errors.company[0] }}</div>
		</div>
		<div class="form-group col-lg-6 half_col">
			<input id="email" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email" />
			<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
		</div>
		<div class="form-group col-lg-6 half_col">
			<input id="phone" type="text" class="form-control" name="phone" placeholder="Phone" v-model="fields.phone" />
			<div v-if="errors && errors.phone" class="text-primary">{{ errors.phone[0] }}</div>
		</div>
		<div class="form-group col-12 half_col">
			<textarea id="message" type="text" class="form-control" name="message" placeholder="Message*" rows="4" v-model="fields.message"></textarea>
			<div v-if="errors && errors.message" class="text-primary">{{ errors.message[0] }}</div>
		</div>
		<div class="col-12 half_col text-right">
			<div v-if="errors && errors.token" class="text-primary">{{ errors.token[0] }}</div>
			<cool-button :color="'#fff'" :text="'Send message'" @clicked="submit()"></cool-button>
		</div>
	</form>
</template>

<script>
	 
	export default {
		props: {
			page: String,
			about: String,
		},
		data() {
			return {
				fields: {
					country: "",
					token: "",
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods: {
			messageSent(){
        this.fields = {};
      },
      changeCountry(value){
	  		this.fields.country = value;
	  	},
      submit() {


    		this.loaded = false;
    		this.success = false;
    		this.errors = {};
    		
    		document.getElementById("loader").classList.add("on");
	      document.getElementById("loader-message").innerHTML = "Sending Enquiry";

    		axios.post('/send-message', this.fields)
    		.then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.messageSent();
          document.getElementById("loader-message").innerHTML = "Enquiry sent successfully";
          $('#close-loader-btn').removeClass('d-none').addClass('d-block');
          $('#loader-roller').removeClass('d-block').addClass('d-none');
          $('#loader-success').removeClass('d-none').addClass('d-block');
          console.log(response);
        })
    		.catch(error => {
         // Error handling
          this.loaded = true;
          console.log(error.response);
          if (error.response.status === 422) {
          	this.errors = error.response.data.errors || {};
          	console.log(error.response.data.message);
          	document.getElementById("loader-message").innerHTML = "Check form for errors";
            document.getElementById("loader").classList.remove("on");
          }
        });
	      	
	   
      },
    },
  }
</script>
<style lang="scss">
	.half_row{
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 7.5px;
		padding-right: 7.5px;
		.half_col{
			padding-left: 7.5px;
			padding-right: 7.5px;
		}
	}
</style>