<template>
	<div id="footer-top" class="container-fluid bg-dark text-white py-5 mob-mb-0 bg-fixed wall-bg">
	  <div class="row">
	    <div class="container py-5">
	      <div class="row justify-content-center">
	        <div class="col-lg-10 text-center">
	          <p class="text-primary mb-0 letter-spacing text-large text-fancy" data-aos="fade-in"><b>We want to hear from you!</b></p>
	          <h2 class="mb-4 scroll-fade" data-aos="fade-in">Seen Enough?</h2>
	          <p class="text-large mb-5 mob-mb-4"data-aos="fade-in">We want to work with you to improve your business's perception online. Get in touch today to find out more about how we can help!</p>
	          <cool-button :link="'/contact'" :color="'#fff'" :text="'Contact Us'"></cool-button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</template>
<script>
  export default {
  	data() {
      return {
      	imgObj: '/img/bg/wall.jpg',
			}
		},
    mounted(){

    }
  }
</script>
<style lang="scss">
	.no-webp{
		.wall-bg{
			background-image: url('/img/bg/wall.jpg');
		}
	}
	.webp{
		.wall-bg{
			background-image: url('/img/bg/wall.webp');
		}
	}
	.bg-fixed{
		background-attachment: fixed;
		@include background();
	}
	@media only screen and (max-width : 1100px){
		.bg-fixed{
			background-attachment: initial !important;
		}
	}
</style>