<template>
  <div id="loader">
    <div class="vert-mid">
      <div class="blue-dots-top-right d-none d-lg-block"></div>
      <div class="pink-pentagon-top-right d-none d-lg-block"></div>
      <div class="card loader-card p-5">
        <img id="loader-success" src="/img/icons/success.svg" class="d-none mx-auto" width="60" alt="Success icon"/>
        <img id="loader-error" src="/img/icons/error.svg" class="d-none mx-auto" width="60" alt="Success icon"/>
        <div id="loader-roller" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div id="loader-message"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <a id="loader-link">
                    <div id="loader-btn" class="btn btn-primary mx-auto d-none mt-3"></div>
                  </a>
                  <div id="close-loader-btn" class="btn btn-primary mx-auto d-none mt-3">Close</div>
                </div>
                <div class="col-md-12 text-center">
                  <p id="loader-second-text" class="mt-3 d-none cursor-pointer"><a id="loader-second-link"></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      height: Number,
      loaderClass: String,
    },
    mounted(){
      $('#close-loader-btn').click(function(){
        document.getElementById("loader").classList.remove("on");
      });
    }
  }
</script>
<style lang="scss">
  .lds-roller {
    display: block;
    position: relative;
    width: 64px;
    height: 64px;
    margin: auto;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  #loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(28, 0, 78, 0.8);
    display: table;
    opacity: 0;
    z-index: -1;
    @include transition(300ms);
    .vert-mid{
      width: 100vw;
      height: 100vh;
      vertical-align: middle;
      display: table-cell;
      .card{
        width: 100%;
        max-width: 500px;
        margin: auto;
        color: $white;
        background-color: $darknavy;
        .btn-primary{
          background-color: $pink;
          border: 0 !important;
          height: 50px;
          color: $white;
          font-size: 1rem;
          padding: 0.75rem;
        }
      }
    }
    &.on{
      display: table;
      opacity: 1;
      z-index: 3000;
    }
    #loader-message{
      font-weight: 600;
      font-family: $title;
      text-align: center;
      font-size: 30px;
      letter-spacing: 1px;
      margin-top: 15px;
    }
  }
  .loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $transwhite;
    display: table;
    opacity: 1;
    z-index: 10;
    @include transition(300ms);
    .lds-roller div:after {
      background: $primary;
    }
    &.off{
      opacity: 0;
      z-index: -1;
    }
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #loader .blue-dots-top-right{
    background-image: url('/img/shapes/dots_blue.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 320px);
    right: calc(50% - 320px);
    width: 250px;
    height: 418px;
    transform: rotate(-120deg) !important;
    -webkit-transform: rotate(-120deg) !important;
  }
  #loader .pink-pentagon-top-right{
    background-image: url('/img/shapes/pentagon_pink.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 230px);
    right: calc(50% - 400px);
    width: 300px;
    height: 300px;
    -webkit-animation: rotating 100s linear infinite;
    -moz-animation: rotating 100s linear infinite;
    -ms-animation: rotating 100s linear infinite;
    -o-animation: rotating 100s linear infinite;
    animation: rotating 100s linear infinite;
   }
   @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
</style>