<template>
	<div class="scroll-indicator">
	  <span>Scroll</span>
	  <div class="scroll">
	    <div class="scroll-line"></div>
	  </div>
	</div>
</template>
<style lang="scss">
	.scroll-indicator {
	  position: absolute;
    left: 2.1rem;
    bottom: -60px;
    z-index: 2;
    width: 1px;
	  .scroll {
	    width: 2px;
	    height: 100px;
	    background-color: #ccc;
	    position: relative;
	    overflow: hidden;
	    
	    .scroll-line {
	      width: 100%;
	      height: 100%;
	      display: block;
	      background: linear-gradient(to bottom, $pink 50%, rgba(4, 15, 48, 0) 50%);
	      background-position: 0 -120px;
	      background-size: 100% 200%;
	      animation: scrolldown 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
	      
	    }
	  }
	  span {
	    position: absolute;
	    width: 62px;
	    left: calc(50% - 30px);
	    text-align: center;
	    color: #fff;
	    font-size: 12px;
	    top: -43px;
	    letter-spacing: 1px;
	    text-transform: uppercase;
	    transform: rotate(270deg);
	    -webkit-transform: rotate(270deg);
	    -moz-transform: rotate(270deg);
	    -o-transform: rotate(270deg);
	  }
	}

	@keyframes scrolldown {
	  0%{
	    background-position: 0 -120px;
	  }
	  75% {
	    background-position: 0 0;
	  }
	  100%{
	    background-position: 0 120px;
	  }
	}

	@-webkit-keyframes rotating /* Safari and Chrome */ {
	  from {
	    -webkit-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  to {
	    -webkit-transform: rotate(360deg);
	    -o-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
</style>