// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  body{
    h1{
      font-size: 3rem;
    }
    h2{
      font-size: 2.5rem;
    }
    h3{
      
    }
  }
  #scroll-menu,
  .menu{
    .menu-links{
      .menu-item{
        &:hover{
          box-shadow: none;
        }
      }
    }
  }
  .bg-fixed{
    background-attachment: none;
  }
  .ipad-overflow-hidden{
    overflow: hidden;
  }
  #menu_btn{
    display: block;
  }
  .ipad-pt-0{
    padding-top: 0 !important;
  }
  .ipad-pt-5{
    padding-top: 3rem !important;
  }
  .ipad-py-5{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  .ipad-mb-0{
    margin-bottom: 0 !important;
  }
  .ipad-mb-5{
    margin-bottom: 3rem !important;
  }
  .ipad-mt-4{
    margin-top: 2rem !important;
  }
  .ipad-py-0{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .ipad-pr-5{
    padding-right: 3rem !important;
  }
  .bg-third:after{
    background-position: 14% 0%;
  }
}