@media only screen and (max-width : 815px) and (orientation : landscape) {
	.top{
		.top_bottom{
			display: none;
		}
		.top_text{
			bottom: 0;
			padding: 15px;
			h1{
				font-size: 10vw;
				line-height: 11vw;
			}
		}
	}
	body h1.home-top-title{
		font-size: 8vw !important;
		    margin-top: 4rem;
	}
	body h2 {
	  font-size: 9vw;
	}
	body p.mimic-h3 {
	  font-size: 7.5vw;
	}
}