<style lang="scss">
  .search-form{
    margin-top: -50px;
  }
</style>
<template>
  <div id="blog-page-header" class="search-page container-fluid mt-3 mob-mt-0">
    <div class="row">
      <div class="container mob-px-3">
        <div class="row">
          <div class="container mob-px-3">
            <div class="row mb-4">
              <div class="col-lg-10">
                <div class="dropdown d-inline">
                  <button class="text-btn text-primary text-capitalize px-0" type="button" id="newsCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    sort by category <i class="fa fa-angle-down"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="newsCategory">
                    <a class="dropdown-item" href="#" @click="changeCategory('*')">Any Category</a>
                    <a v-for="category in categories" class="dropdown-item" href="#" @click="changeCategory(category.id)">{{category.name}}</a>
                  </div>
                </div>  
              </div>
              <!-- <div class="col-lg-2">
                <p class="float-right d-inline-block">Next Page</p>
              </div> -->
            </div>
          </div>
        </div>
        <div class="row">
          <work-show :category="this.fields.category" :title="this.title" :limit="limit" :showpagination="true"></work-show>
        </div>
      </div>
    </div>
   
  </div>  
</template>
<script>
  const WorkShow = () => import(/* webpackChunkName: "WorkShow" */ './Show.vue');
  export default {
    props: {
      categories: Array,
      limit: Number,
    },
    components:{
      WorkShow
    },
    data() {
      return {
        fields: {
          category: '*'
        },
        title: '',
        errors: {},
        success: false,
        loaded: true,
        page: 1,
        scrollTo: 0,
        loadmore: true,
      }
    },
    methods: {
      toggleSearch(){
        $('#work-search-bar').toggleClass('on');
      },
      changeCategory(cat){
        this.fields.category = cat.toString();
      },
    },
  }
</script>
<style lang="scss">
  .infinite-status-prompt{
    display: none;
  }
  .dropdown-menu{
    background-color: $darknavy;
    a.dropdown-item{
      color: $white;
      &:hover{
        background-color: $pink;
      }
    }
  }
  #news-search-bar{
    width: 0;
    margin-bottom: -19px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    &.on{
      width: 300px;
    }
  }
  button.text-btn{
    border: 0;
    box-shadow: none !important;
    outline: none !important;
    background: none !important;
    text-transform: uppercase;
    font-size: 16px;
  }
</style>
