<template>
	<main>
		<div class="container-fluid bg-dark text-white">
		  <div class="row">
		    <div class="container py-5 mob-pt-0">
		      <div class="row mt-5">
		        <div class="col-lg-11 pt-5">
		          <p class="text-pink mb-0 letter-spacing text-large text-fancy" data-aos="fade-in"><i class="fa fa-user text-primary mr-2"></i><b>Experince Focused</b></p>
		          <h2 class="mb-5" data-aos="fade-in">Bespoke Web Design</h2>
		          <p class="statement mb-5 scroll-line" data-line="draw-line"><b>We specialise in creating bespoke websites for ambitious businesses in Belfast and beyond. Our aim is to design your website to stand out from the crowd &amp; deliver excellent, measurable results.</b></p>
		          <a href="/services">
              	<cool-button :color="'#fff'" :text="'Tell me more'" data-aos="fade-up"></cool-button>
              </a>
		        </div>
		      </div>
		    </div>
		    <div class="container wide-container mob-mt-5">
		      <div class="row justify-content-center ipadp-py-5">
		      	<div class="col-lg-6 d-lg-none position-relative mob-home-project">
		      		<div class="pink-dots-bottom-left" data-aos="slide-right"></div>
		  				<div class="pink-pentagon-bottom-left rotating" data-aos="slide-up"></div>
            	<picture> 
	              <source srcset="/img/mob/wav-mob.webp" type="image/webp"/> 
	              <source srcset="/img/mob/wav-mob.png" type="image/png"/>
	              <img v-lazy="'/img/mob/wav-mob.png'" alt="We Are Vertigo Belfast Modern responsive mobile website design on an iphone" class="w-100 h-auto" data-aos="slide-up" width="346" height="230" loading="lazy"/>
	            </picture>   
		        </div>
		        <div class="col-xl-4 col-lg-6 offset-xl-2 mob-mb-5">
		          <div class="d-table w-100 h-100">
		            <div class="d-table-cell align-middle w-100 h-100">
		              <p class="mb-0"></p>
		              <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><a href="https://wearevertigo.com" target="_blank"><i class="fa fa-link mr-2 cursor-pointer"></i><b class="text-pink cursor-pointer">Check it out</b></a></p>
		              <p class="mimic-h3 mb-4 mob-mb-3" data-aos="fade-in">We Are Vertigo</p>
		              <p class="mb-4 mob-mb-3">Designed and built with excitement in mind, this awesome new website for one of Northern Ireland & Belfast's premier entertainment venues, We Are Vertigo, is packed full of exciting features.</p>
		              <a href="/work/we-are-vertigo">
		              	<cool-button :color="'#fff'" :text="'View Project'" data-aos="fade-up"></cool-button>
		              </a>
		            </div>
		          </div>
		        </div>
		        <div class="col-lg-6 phone-padding d-none d-lg-block">
		          <div class="phone-bg mx-auto"> 
		            <img v-lazy="'/img/shapes/dots_pink.svg'" class="shape-2 rotate-90"/>
		            <img v-lazy="'/img/shapes/triangle_blue.svg'" class="shape rotating"/>
		            <picture> 
		              <source srcset="/img/phones/wav-phone.webp" type="image/webp"/> 
		              <source srcset="/img/phones/wav-phone.png" type="image/png"/>
		              <img v-lazy="'/img/phones/wav-phone.png'" alt="We Are Vertigo Belfast website design on an iphone" class="home-phone" data-aos="slide-up" loading="lazy"/>
		            </picture>   
		          </div>
		        </div>
		      </div>
		      <div class="row justify-content-center ipadp-py-5">
		        <div class="col-xl-10">
		          <div class="py-5 mob-mb-5">
		            <p class="statement scroll-line" data-line="draw-line">Our websites are responsive &amp; designed mobile first, with user experience in mind at all times. Your website is the shop window of your business and giving a great first impression is extremely important.</p>
		          </div>
		        </div>
		      </div>
		      <div class="row mob-px-3 ipadp-py-5">
		        <div class="col-lg-6 phone-padding d-none d-lg-block">
		          <div class="phone-bg mx-auto"> 
		            <img v-lazy="'/img/shapes/dots_blue.svg'" class="shape-2 rotate-90"/>
		            <img v-lazy="'/img/shapes/triangle_pink.svg'" class="shape rotating"/>
		            <picture> 
		              <source srcset="/img/phones/quopro-phone.webp" type="image/webp"/> 
		              <source srcset="/img/phones/quopro-phone.png" type="image/png"/>
		              <img v-lazy="'/img/phones/quopro-phone.png'" alt="QuoPro Recruitment Belfast Northern Ireland Modern responsive mobile website design on an iphone" class="home-phone" data-aos="slide-up" loading="lazy"/>
		            </picture>   
		          </div>
		        </div>
		        <div class="col-lg-6 d-lg-none px-0 mob-home-project">
		        	<div class="pink-dots-bottom-left" data-aos="slide-right"></div>
		  				<div class="blue-rect-bottom-left rotating" data-aos="slide-up"></div>
	            <picture> 
	              <source srcset="/img/mob/quopro-mob.webp" type="image/webp"/> 
	              <source srcset="/img/mob/quopro-mob.png" type="image/png"/>
	              <img v-lazy="'/img/mob/quopro-mob.png'" alt="QuoPro Recruitment Belfast Northern Ireland Modern responsive mobile website design on an iphone" class="w-100 h-auto" data-aos="slide-up" width="346" height="230" loading="lazy"/>
	            </picture>   
		        </div>
		        <div class="col-xl-4 col-lg-6 mob-px-0">
		          <div class="d-table w-100 h-100">
		            <div class="d-table-cell align-middle w-100 h-100">
		              <p class="mb-0"></p>
		              <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><a href="https://quoprorecruitment.com" target="_blank"><i class="fa fa-link mr-2 cursor-poin ter"></i><b class="text-pink cursor-pointer">Check it out</b></a></p>
		              <p class="mimic-h3 mb-4 mob-mb-3" data-aos="fade-in">QuoPro<br/>Recruitment</p>
		              <p class="mb-4 mob-mb-3">A bespoke website and application system for Belfast based recruitment startup QuoPro Recruitment. The system handles both employer and candidate applications and allows staff to manage the recruitment process online.</p>
		              <a href="/work/quopro-recruitment">
		              	<cool-button :color="'#fff'" :text="'View Project'" data-aos="fade-up"></cool-button>
		              </a>
		            </div>
		          </div>
		        </div>
		      </div>
	        <div class="row justify-content-center ipadp-py-5">
	          <div class="col-xl-10 mob-py-5">
	            <div class="py-5">
	              <p class="statement scroll-line" data-line="draw-line">We know our stuff. If you want to learn more about our web design techniques, have a look at our <a href="/services/websites">websites page</a> or <a href="/contact" class="text-pink">send us a message</a>.</p>
	            </div>
	          </div>
	        </div>
	        <div class="row justify-content-center ipadp-py-5">
	        	<div class="col-lg-6 d-lg-none mob-home-project">
	        		<div class="pink-dots-bottom-left" data-aos="slide-right"></div>
	  					<div class="blue-triangle-bottom-left rotating" data-aos="slide-up"></div>
            	<picture> 
	              <source srcset="/img/mob/haymarket-mob.webp" type="image/webp"/> 
	              <source srcset="/img/mob/haymarket-mob.png" type="image/png"/>
	              <img v-lazy="'/img/mob/haymarket-mob.png'" alt="Haymarket Belfast Modern responsive mobile website design on an iphone" class="w-100 h-auto" data-aos="slide-up" width="346" height="230" loading="lazy"/>
	            </picture>   
		        </div>
	          <div class="col-xl-4 col-lg-6 offset-xl-2 ">
	            <div class="d-table w-100 h-100">
	              <div class="d-table-cell align-middle w-100 h-100">
	                <p class="mb-0"></p>
	                <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><a href="https://haymarketbelfast.com" target="_blank" class=" cursor-pointer"><i class="fa fa-link mr-2 cursor-pointer"></i><b class="text-pink cursor-pointer">Check it out</b></a></p>
	                <p class="mimic-h3 mb-4 mob-mb-3" data-aos="fade-in">Haymarket Belfast</p>
	                <p class="mb-4 mob-mb-3">A new website for Belfast's newest bar and streetfood hangout! Featuring integrated instagram feed, latest news and menu downloads.</p>
	                <a href="/work/haymarket-belfast">
	                	<cool-button :color="'#fff'" :text="'View Project'" data-aos="fade-up"></cool-button>
	                </a>
	              </div>
	            </div>
	          </div>
	          <div class="col-lg-6 phone-padding d-none d-lg-block">
	            <div class="phone-bg mx-auto"> 
	              <img src="/img/shapes/dots_cyan.svg" class="shape-2 rotate-90"/>
	              <img src="/img/shapes/pentagon_pink.svg" class="shape rotating"/>
	              
	              <picture> 
	                <source srcset="/img/phones/haymarket-phone.webp" type="image/webp"/> 
	                <source srcset="/img/phones/haymarket-phone.png" type="image/png"/>
	                <img v-lazy="'/img/phones/haymarket-phone.png'" alt="Haymarket Belfast Modern responsive mobile web design on an iphone" class="home-phone" data-aos="slide-up" loading="lazy"/>
	              </picture>   
	            </div>
	          </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="container-fluid position-relative">
		  <div class="pink-dots-bottom-left d-none d-lg-block" data-aos="slide-right"></div>
		  <div class="blue-circle-bottom-left d-none d-lg-block" data-aos="slide-up"></div>
		  <div class="row">
		    <div class="container ipad-pt-0 mob-pt-5">
		      <div class="row py-5 justify-content-center">
		        <div class="col-lg-11 text-center">
		          <p class="text-large text-pink"><i class="fa fa-star mr-1" data-aos="fade-in" data-aos-delay="100"></i><i class="fa fa-star mr-1" data-aos="fade-in" data-aos-delay="200"></i><i class="fa fa-star mr-1" data-aos="fade-in" data-aos-delay="300"></i><i class="fa fa-star mr-1" data-aos="fade-in" data-aos-delay="400"></i><i class="fa fa-star" data-aos="fade-in" data-aos-delay="500"></i></p>
		          <p class="mimic-h2 section-title mb-5 mob-mb-3" data-aos="fade-in">Why Choose Us?</p>
		          <p class="mb-4 pb-2" data-aos="fade-in"><b>Element Seven is an exciting new web design & development company in Belfast, Northern Ireland. We have a great record in delivering quality websites for our clients and take pride in our work & reputation. With our flexible payment options, you won’t get the same mix of quality, value and service elsewhere.</b></p>
		          <a href="/contact">
              	<cool-button :color="'#fff'" :text="'Get in touch'" data-aos="fade-up"></cool-button>
              </a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="container-fluid bg-dark mb-5">
		  <div class="row position-relative">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-6 py-5 mob-px-0 text-center">
	            <picture> 
	              <source srcset="/img/shapes/return_on_investment_web_design.webp" type="image/webp"/> 
	              <source srcset="/img/shapes/return_on_investment_web_design.jpg" type="image/jpeg"/>
	              <img v-lazy="'/img/shapes/return_on_investment_web_design.jpg'" alt="Return on investment for web design in Belfast Northern Ireland" class="w-100 h-auto" data-aos="slide-up" width="378" height="378" loading="lazy"/>
	            </picture> 
	            <h4 class="mb-3 text-white larger mt-minus" data-aos="fade-in">Return on Investment</h4>
	          	<p class="pl-0 px-5 ipadp-px-3 mob-px-0 text-white" data-aos="fade-in">We want you to see success from your website, be that in online sales, enquiries or feet through the door! You'll be so delighted with your new website that you'll scream about it to your friends and family!</p>
		        </div>
		        <div class="col-md-6 py-5 mob-px-0 text-center">
		          <picture> 
		            <source srcset="/img/shapes/belfast-web-design.webp" type="image/webp"/> 
		            <source srcset="/img/shapes/belfast-web-design.jpg" type="image/jpeg"/>
		            <img v-lazy="'/img/shapes/belfast-web-design.jpg'" alt="Local web design in Belfast Northern Ireland" class="w-100 h-auto" data-aos="slide-up" data-aos-delay="200" width="378" height="378" loading="lazy"/>
		          </picture> 
		          <h4 class="mb-3 text-white larger mt-minus" data-aos="fade-in">Made in Belfast</h4>
		          <p class="pl-0 px-5 ipadp-px-3 mob-px-0 text-white" data-aos="fade-in">Need to chat? We're local, so <a href="tel:00442895031307">give us a call</a> to arrange a meeting. Come to our place in Belfast’s Cathedral Quarter or let us take you out for a coffee anywhere in Northern Ireland and get the ball rolling.</p>
		        </div>
		        <div class="col-md-6 py-5 mob-px-0 text-center">
		          <picture> 
		            <source srcset="/img/shapes/accountability_web_design.webp" type="image/webp"/> 
		            <source srcset="/img/shapes/accountability_web_design.jpg" type="image/jpeg"/>
		            <img v-lazy="'/img/shapes/accountability_web_design.jpg'" alt="Accountability web design in Belfast Northern Ireland" class="w-100 h-auto" data-aos="slide-up" width="378" height="378" loading="lazy"/>
		          </picture> 
		          <h4 class="mb-3 text-white larger mt-minus" data-aos="fade-in">Accountability</h4>
		          <p class="pl-0 px-5 ipadp-px-3 mob-px-0 text-white" data-aos="fade-in">Our policy is to stand over everything we do. With our <a href="/services/aftercare">aftercare</a> packages, we keep a close eye on your website traffic and user’s actions to make sure it is performing as it should. Let your website grow with your business!</p>
		        </div>
		        <div class="col-md-6 py-5 mob-px-0 text-center">
		          <picture> 
		            <source srcset="/img/shapes/reputation_web_design.webp" type="image/webp"/> 
		            <source srcset="/img/shapes/reputation_web_design.jpg" type="image/jpeg"/>
		            <img v-lazy="'/img/shapes/reputation_web_design.jpg'" alt="Reputation web design in Belfast Northern Ireland" class="w-100 h-auto" data-aos="slide-up" data-aos-delay="200" width="378" height="378" loading="lazy"/>
		          </picture> 
		          <h4 class="mb-3 text-white larger mt-minus" data-aos="fade-in">Reputation</h4>
		          <p class="pl-0 px-5 ipadp-px-3 mob-px-0 text-white" data-aos="fade-in">We work with a range of different clients in Northern Ireland to deliver quality websites and social media marketing. It's our aim to build a trusting relationship with our clients by giving you honest advice.</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="container-fluid bg-dark">
		  <div class="row pt-5 mob-py-0">
		    <div class="container position-relative">
		      <div class="row mob-py-0">
		        <div class="col-12 text-center text-lg-left">
		          <p class="text-pink mb-0 letter-spacing text-fancy text-large position-relative" data-aos="fade-in"><a href="/blog"><i class="fa fa-link mr-2 cursor-pointer"></i><b class="text-pink cursor-pointer">Browse our blog posts</b></a></p>
		          <h3 class="mb-0 mob-mb-5 text-white" data-aos="fade-in">Web Design Blog</h3>
		        </div> 
		        <blog-inline :category="0"></blog-inline>
		      </div>
		    </div>
		  </div>
		</div>
	</main>
</template>
<script>
	const BlogInline = () => import(/* webpackChunkName: "BlogInline" */ '../blog/Inline.vue');
	export default {
		components: {
			BlogInline
		},
		mounted(){
			$('.scroll-line').each(function(index, element){
				var effect = $(this).attr("data-line");
				var inview = new Waypoint({
					element: element,
					handler: function (direction) {
						if (direction === 'down') {
							$(element).addClass(effect);
						}
					},offset: '80%'
				});
			});
		},
		methods:{
			backToTop(){
        setTimeout(function(){
          document.body.scrollTop = document.documentElement.scrollTop = 0;
        },250);
      },
		}
	}
</script>
<style lang="scss">
.phone-bg{
	position: relative;
	width: 500px;
	height: 500px;
	.shape{
		position: absolute;
    height: 600px;
    width: 600px;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
	}
	.shape-2{
    position: absolute;
    height: 500px;
    width: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
	}
	.home-phone{
    position: absolute;
    height: 721px;
    width: 400px !important;
    top: calc(50% - 360px);
    left: calc(50% - 200px);
	}
}
h4.mt-minus{
	margin-top: -80px;
}
.phone-padding{
	padding-top: 200px;
	padding-bottom: 200px;
}
.rotating {
  -webkit-animation: rotating 100s linear infinite;
  -moz-animation: rotating 100s linear infinite;
  -ms-animation: rotating 100s linear infinite;
  -o-animation: rotating 100s linear infinite;
  animation: rotating 100s linear infinite;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotate-90{
	-ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.blue-dots-top-right{
	background-image: url('/img/shapes/dots_blue.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: -70px;
  right: -196px;
  width: 250px;
  height: 418px;
}
.pink-circle-top-right{
	background-image: url('/img/shapes/circle_pink.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
  top: 100px;
  right: calc(-125px + 1rem);
  width: 250px;
  height: 250px;
}
.pink-dots-bottom-left{
	background-image: url('/img/shapes/smalldots_pink.svg');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	bottom: calc(50% - 240px);
  left: -35px;
  width: 170px;
  height: 480px;	
  z-index: -1;
  transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
}
.blue-circle-bottom-left{
	background-image: url('/img/shapes/circle_cyan.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
  bottom: calc(50% - 190px);
  left: -130px;
  width: 300px;
  height: 300px;
  z-index: 0;
}
.pink-pentagon-bottom-left{
	background-image: url('/img/shapes/pentagon_pink.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: calc(50% - 0px);
  left: -130px;
  width: 230px;
  height: 230px;
  z-index: 0;
}
.blue-triangle-bottom-left{
	background-image: url('/img/shapes/triangle_blue.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: calc(50% - 0px);
  left: -130px;
  width: 230px;
  height: 230px;
  z-index: 0;
}
.blue-rect-bottom-left{
	background-image: url('/img/shapes/rect_cyan.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: calc(50% - 0px);
	left: -90px;
  width: 160px;
  height: 160px;
  z-index: 0;
}
@media only screen and (max-width : 767px){
	.blue-triangle-bottom-left,
	.pink-pentagon-bottom-left{
		left: auto;
		right: -130px !important;
	}
}
</style>