<template>
	<div id="mobile-menu" class="d-lg-none">
		<div id="menu-btn">
		  <svg id="menu-btn-icon" viewBox="0 0 800 600">
		    <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="menu-btn-top"></path>
		    <path d="M300,320 L540,320" id="menu-btn-middle"></path>
		    <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="menu-btn-bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
		  </svg>
		</div>
		<div id="mobile-menu-trans"></div>
		<nav id="mobile-menu-inner">
      <div class="d-table w-100 h-100">
        <div class="d-table-cell align-middle text-center px-5">
        	<p class="mimic-h4 mb-3">
	          <a href="/">
							<span class="menu-item cursor-pointer">Home</span>
						</a>
					</p>
					<p class="mimic-h4 mb-3">
	          <a href="/work">
							<span class="menu-item cursor-pointer">Work</span>
						</a>
					</p>
					<p class="mimic-h4 mb-3">
					<a href="/services">
						<span class="menu-item cursor-pointer">Services</span>
					</a>
					</p>
					<p class="mimic-h4 mb-3">
					<a href="/blog">
						<span class="menu-item cursor-pointer " >Blog</span>
					</a>
					</p>
					<p class="mimic-h4 mb-5">
					<a href="/contact">
						<span class="menu-item cursor-pointer" >Contact</span>
					</a>
					</p>
					<hr class="my-5 line-pirmary"/>
					<p>
						<a href="https://www.facebook.com/elementsevendigital/" rel="noreferrer" class="mr-4 text-white"  target="_blank" aria-label="Element Seven Facebook"><i class="fa fa-facebook"></i></a>
	      		<a href="https://www.instagram.com/elementsevendigital/" rel="noreferrer" class="mr-4 text-white"  target="_blank" aria-label=" Element Seven Instagram"><i class="fa fa-instagram"></i></a>
						<a href="https://twitter.com/elementsevenco/" rel="noreferrer" class="mr-4 text-white"  target="_blank" aria-label=" Element Seven Twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.linkedin.com/company/element-seven/" rel="noreferrer" class="text-white"  target="_blank" aria-label=" Element Seven Linkedin"><i class="fa fa-linkedin"></i></a>
					</p>
        </div>
      </div>
		</nav>
	</div>
</template>
<script>
	import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock';
	export default {
		data() {
      return {
      	counter: 0,
			}
		},
		mounted(){
			const targetElement = document.querySelector('#mobile-menu-inner');
			const app = this;
			$("#menu-btn").click(function () {
				if(app.counter == 0){
					disableBodyScroll(targetElement);
					app.counter++;
				}else{
					enableBodyScroll(targetElement);
					app.counter = 0;
				}
		    $("#menu-btn-icon").toggleClass("cross");
		    $('#mobile-menu-inner').toggleClass('on');
		    $('#mobile-menu-trans').toggleClass('on');
		  });
		},
	  methods:{
	  	backToTop(){
				setTimeout(function(){
          document.body.scrollTop = document.documentElement.scrollTop = 0;
        },250);
			},
			closeMenu(){
				const targetElement = document.querySelector('#mobile-menu-inner');
				enableBodyScroll(targetElement);
				$("#menu-btn-icon").toggleClass("cross");
		    $('#mobile-menu-inner').toggleClass('on');
		    $('#mobile-menu-trans').toggleClass('on');
				this.counter = 0;
				this.backToTop();
			}
	  }
	}
</script>
<style lang="scss">
#mobile-menu-trans{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(77, 5, 204, 0.9);
	z-index: -10;
	opacity: 0;
	@include transition(300ms);
	&.on{
		opacity: 1;
		z-index: 900;
	}
}
#mobile-menu-inner{
	position: fixed;
	top: 0;
	right: -150vw;
	width: 320px;
	height: 100vh;
	background-color: $darkgrey;
	color: $white;
	z-index: 1000;
	// border-left: 4px solid $pink;
	@include menuBoxShadow();
	@include transition(300ms);
	.menu-item{
    font-size: 4.5vw;
    letter-spacing: 0.5vw;
		font-family: $body;
		cursor: pointer;
		color: $white;
		@include transition(300ms);
		a{
			color: $white;
			&:hover{
				color: $primary;
			}
		}
		i{
			font-size: 1.2rem;
			margin-left: 10px;
		}
	}
	&.on{
		right: 0;
	}
}
#menu-btn{
	position: fixed;
	top: 1rem;
	right: 10px;
	z-index: 10000;
	width: 50px;
  height: 50px;
  overflow: hidden;
}
#menu-btn-icon {
	position: absolute;
	left: calc(50% - 35px);
	top: calc(50% - 35px);
  width: 70px;
  height: 70px;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#menu-btn-icon path {
  fill: none;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 40px;
  stroke-linecap: round;
  stroke: $white;
  stroke-dashoffset: 0px;
}
path#menu-btn-top,
path#menu-btn-bottom {
  stroke-dasharray: 240px 950px;
}
path#menu-btn-middle {
  stroke-dasharray: 240px 240px;
}
#menu-btn-icon.cross path#menu-btn-top,
#menu-btn-icon.cross path#menu-btn-bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px;
}
#menu-btn-icon.cross path#menu-btn-middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
}
hr.line-pirmary{
	border-top: 2px solid $pink;
}
</style>