<template>
	<div id="scroll-menu" class="menu position-fixed d-none d-lg-block">
		<div class="container-fluid mob-px-3 px-5">
			<div class="row">
				<div class="col-2 col-lg-2 pt-3">
					<a href="/">
						<img src="/img/logos/logo-full-grad.svg" class="menu_logo" alt="Element Seven Logo" width="120" height="68" v-if="pageType == 'dark'"/>
						<img src="/img/logos/logo-full-grad.svg" class="menu_logo" alt="Element Seven Logo" width="120" height="68" v-else/>
					</a>
				</div>
				<div class="col-lg-10 pt-4 mt-2 pr-5 text-right d-none d-lg-block">
					<div class="menu-links d-block ">
						<span class="menu-item cursor-pointer" :class="pageType == 'dark' ? 'text-dark' : 'text-white'"><a href="/work">Work</a></span>
						<span class="menu-item cursor-pointer" :class="pageType == 'dark' ? 'text-dark' : 'text-white'"><a href="/services">Services</a></span>
						<span class="menu-item cursor-pointer "  :class="pageType == 'dark' ? 'text-dark' : 'text-white'"><a href="/blog">Blog</a></span>
						<span class="menu-item cursor-pointer"  :class="pageType == 'dark' ? 'text-dark' : 'text-white'"><a href="/contact">Contact</a></span>
						<a href="https://www.facebook.com/elementsevendigital/" rel="noreferrer" class="mr-4"  :class="pageType == 'dark' ? 'text-dark' : 'text-white'" target="_blank" aria-label="Element Seven Facebook"><i class="fa fa-facebook ml-5"></i></a>
        		<a href="https://www.instagram.com/elementsevendigital/" rel="noreferrer" class="mr-4"  :class="pageType == 'dark' ? 'text-dark' : 'text-white'" target="_blank" aria-label=" Element Seven Instagram"><i class="fa fa-instagram"></i></a>
						<a href="https://twitter.com/elementsevenco/" rel="noreferrer" class="mr-4"  :class="pageType == 'dark' ? 'text-dark' : 'text-white'" target="_blank" aria-label=" Element Seven Twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.linkedin.com/company/element-seven/" rel="noreferrer" class="mr-4"  :class="pageType == 'dark' ? 'text-dark' : 'text-white'" target="_blank" aria-label=" Element Seven Linkedin"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div id="scroll-menu-btn">
		  <svg id="scroll-menu-btn-icon" viewBox="0 0 800 600">
		    <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="scroll-menu-btn-top"></path>
		    <path d="M300,320 L540,320" id="scroll-menu-btn-middle"></path>
		    <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="scroll-menu-btn-bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
		  </svg>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
      pageType: String,
    },
		data() {
      return {

			}
		},
		mounted(){
			const targetElement = document.querySelector('#scroll-menu');
			const app = this;
			$("#scroll-menu-btn").click(function () {
		    $("#scroll-menu").toggleClass("active");
		    $("#scroll-menu-btn-icon").toggleClass("cross");
		    $('#scroll-mobile-menu-inner').toggleClass('on');
		    $('#scroll-mobile-menu-trans').toggleClass('on');
		  });	
		},
		updated(){
		},
		methods: {
			backToTop(){
				$("#scroll-menu").toggleClass("active");
		    $("#scroll-menu-btn-icon").toggleClass("cross");
		    $('#scroll-mobile-menu-inner').toggleClass('on');
		    $('#scroll-mobile-menu-trans').toggleClass('on');
				setTimeout(function(){
          document.body.scrollTop = document.documentElement.scrollTop = 0;
        },250);
			},
		}
	}
</script>
<style lang="scss">
	#scroll-menu{
		background-color: $darkgrey;
		position: fixed;
		top: -150px;
		left: 0;
		z-index: 200;
		width: 100%;
		height: 98px;
		opacity: 0;
		@include boxShadow();
		@include transition(300ms);
		.menu-links{
			.menu-item{
				display: inline-block;
				margin-left: 2.5rem;
				cursor: pointer;
				color: $white;
				font-family: $body;
				font-weight: 700;
				font-size: 1rem;
				letter-spacing: 0;
				@include transition(300ms);
				a{
					color: $white;
					&:hover{
						color: $primary;
					}
				}
				i{
					font-size: 1.2rem;
					margin-left: 10px;
				}
				&:hover,
				&.active{
					color: $primary !important;
				}
			}
		}
		.menu_logo{
			height: auto;
			width: 110px;
		}
		&.on{
			top: -150px;
			opacity: 1;
		}
		&.active{
			top: 0;
		}
	}
	#scroll-menu-btn{
		position: fixed;
		top: 1rem;
		right: 1rem;
		z-index: 10000;
		width: 50px;
	  height: 50px;
	  overflow: hidden;
	  background-color: $purple;
	  border-radius: 100%;
	  // @include boxShadow();
	}
	#scroll-menu-btn-icon {
		position: absolute;
		left: calc(50% - 37px);
		top: calc(50% - 37px);
	  width: 70px;
	  height: 70px;
	  cursor: pointer;
	  -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
	#scroll-menu-btn-icon path {
	  fill: none;
	  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
	  -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
	  -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
	  -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
	  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
	  stroke-width: 40px;
	  stroke-linecap: round;
	  stroke: $white;
	  stroke-dashoffset: 0px;
	}
	path#scroll-menu-btn-top,
	path#scroll-menu-btn-bottom {
	  stroke-dasharray: 240px 950px;
	}
	path#scroll-menu-btn-middle {
	  stroke-dasharray: 240px 240px;
	}
	#scroll-menu-btn-icon.cross path#scroll-menu-btn-top,
	#scroll-menu-btn-icon.cross path#scroll-menu-btn-bottom {
	  stroke-dashoffset: -650px;
	  stroke-dashoffset: -650px;
	}
	#scroll-menu-btn-icon.cross path#scroll-menu-btn-middle {
	  stroke-dashoffset: -115px;
	  stroke-dasharray: 1px 220px;
	}
</style>